"""
Settings for coriolix operations.

THIS FILE MUST BE COPIED OVER TO local/rcrv/settings.py to be
operational.

"""

CORIOLIX_DATABASE = 'database_name'
CORIOLIX_DATABASE_HOST = 'localhost'
CORIOLIX_DATABASE_USER = 'database_user'
CORIOLIX_DATABASE_PASSWORD = 'database_passwd'