{% extends 'manager/base.html' %}

{% block content %}

{% if cruise %}
  <title>{{ cruise.id }}</title>
  <h1>{{ cruise.id }} Cruise Management</h1>
  {# ######################################################################## #}
  {# Draw the loggers and their current configurations.                       #}
  <p>Last update: <span id="time_str">no connection - is server running?</span></p>
  <hr>
  <table>
    <tr><th>logger</th><th colspan=3>configuration</th></tr>
    {% for logger, config in loggers.items %}
    <tr id={{ logger }}_row >
      <td>{{ logger }}</td>
      <td>{{ config.name }}</td>
      <td id="{{ config.name }}_enabled"></td>
      <td>
        {% if user.is_authenticated and config.name %}
          <button type="submit"
            onclick="window.open('edit_config/{{ config.pk }}', '_blank', 'location=yes,height=240,width=320,scrollbars=yes,status=yes');">
            Edit
          </button>
        {% endif %}
      </td>
      <td style="min-width:0px;padding:0px;border: 0px" id="{{ config.name }}_error"></td>
    </tr>
    {% endfor %}
  </table>      

  {# ######################################################################## #}
  {# If user is authenticated, allow to switch modes. Else just show mode     #}
  <hr>
  {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Mode:
    <select name="select_mode" id="select_mode" onchange="highlight_select()">
      {% for mode in modes %}
      <option
         {% if mode == current_mode %}
         selected
         {% endif %}>
          {{ mode.name }}
      </option> 
      {% endfor %}
    </select>  
    <button type="submit">Change mode</button></p>
    </form>
  {% else %}
    <p>Mode: <b>{{ cruise.current_mode }}</b></p>
  {% endif %}
{% else %}
  <title>No configuration loaded</title>
  <h1>No configuration loaded</h1>
{% endif %}


{# ######################################################################## #}
{# Status bar                                                               #}
<table><tr>
  {% if cruise %}
  <td>Current configuration: {{ cruise.config_filename }}</a></td>
  {% endif %}
  {% if user.is_authenticated %}
  <td><form>
    {% csrf_token %}
    <button type="submit"
          onclick="window.open('load_config', '_blank', 'location=yes,height=140,width=450,scrollbars=yes,status=yes');">
      Load configuration file
    </button>
  </form></td>
  {% endif %}
</tr></table>



{# ######################################################################## #}
{# Display any errorst                                                      #}
{% if errors %}
  <p>Error parsing config file: {{ config_error }}</p>
{% endif %}
  <hr>
  <p>
  {% if user.is_authenticated %}
  Logged in as <b>{{ user }}.</b>
  <a href="../logout">Log out</a>
  {% else %}
  <a href="../login"><b>Log in</b></a> to edit configurations or mode
  {% endif %}
</p>

{# ######################################################################## #}
{# Start of Javascript                                                      #}
<script type="text/javascript">
  if (! "WebSocket" in window) {
    alert("Warning: websockets not supported by your Browser!");
  }
  var ws;

  // Set timer to retry websocket connection if it closes. Interval is
  // turned off in ws.onopen() if/when we succeed.
  var retry_interval = 3000;
  var retry_websocket_connection;
  
  // Try connecting right off the bat
  connect_websocket();

  ///////////////////////////////
  function connect_websocket() {
    console.log("Trying to reconnect to websocket_status_server");
    ws = new WebSocket("ws://{{ websocket_status_server }}");
    
    ws.onopen = function() {
      // We've succeeded in opening - don't try anymore
      console.log("Connected - clearing retry interval");
      clearTimeout(retry_websocket_connection);

      // Web Socket is connected, send data using send()
      //ws.send("Message to send");
      //console.log("Message is sent...");
    };

    ws.onclose = function() { 
      // websocket is closed.
      console.log("Connection is closed...");

      // Set up an alarm to sleep, then try re-opening websocket
      console.log("Setting timer to reconnect");
      retry_websocket_connection = setTimeout(connect_websocket,
                                              retry_interval);
    };

    ws.onmessage = function (received_message) { 
      process_message(JSON.parse(received_message.data));
    };
  };
  
  window.onbeforeunload = function(event) {
    console.log("Closing websocket");
    ws.close();
  };

  function send(message) {
    console.log("Sending message '" + message + "'");
    ws.send(message);
    console.log("Sent!");
  };

  function process_message(message) {
    //console.log("received: " + String(message));
    //for (var m_key in message) {
    //  console.log("   " + m_key + ": " + message[m_key]);
    //}
    // Fill in the values we've received
    document.getElementById("time_str").innerHTML = message.time_str;

    var status = message.status;

    if (status) {
      for (var logger_name in status.loggers) {
        //console.log('processing status for ' + logger_name);
        var values = status.loggers[logger_name];
        var desired = values['desired_config'];
        var current = values['current_config'];
        var enabled = values['current_enabled'];
        var error = values['current_error'];
        var row = document.getElementById(logger_name + "_row")

        if (!row) { console.log("Couldn't find row for " + logger_name) }

        if (current) {
          var enabled_td = document.getElementById(current + "_enabled");
          if (enabled) {
            enabled_td.innerHTML = "enabled";
          } else {
            enabled_td.innerHTML = "";
          }

          document.getElementById(current + "_error").innerHTML = error;
 
          if (enabled && !error) {
            row.style.backgroundColor = "green";
          } else if (error) {
            row.style.backgroundColor = "red";
          } else {
            row.style.backgroundColor = "#eeeeee";
          }
        }
        if (desired != current) {
          console.log("Got change for " + logger_name);
          row.style.backgroundColor = "yellow";
        }
      }
    }
  };

  ///////////////////////////////
  // Highlight the color of the mode select option when it has
  // been changed, but before it's committed.
  function highlight_select(logger_name) {
    document.getElementById("select_mode").style.backgroundColor="yellow";
  }  

  ///////////////////////////////
  function edit_config(logger_name) {
    console.log('Edit request for ' + logger_name);
    //loggers = "{{ loggers }}";
    //console.log('Loggers: ' + loggers);
  }  
</script>

{% endblock content %}
