.DS_Store
.DS_Store?
#.DS_Store#

pylintrc

__pycache__
*.pyc

*~
*.bak

db.sqlite3
django_gui/migrations

django_gui/settings.py
database/settings.py
logger/settings.py
hapi/settings.py
display/js/widgets/settings.js
static/

django_gui/openrvdas_nginx.conf
django_gui/openrvdas_uwsgi.ini
django_gui/uwsgi_params

# PyCharm
.idea/

# virtualenv
venv/

# InfluxDB
database/influxdb/LICENSE
database/influxdb/README.md
database/influxdb/influx
database/influxdb/influxd

# CORIOLIX
local/rcrv/settings.py

# Created by build scripts
.build_openrvdas_preferences

# Symlink for legacy widget paths
widgets
