.DS_Store
.DS_Store?
#.DS_Store#

pylintrc

__pycache__
*.pyc

*~
*.bak

db.sqlite3
django_gui/migrations

# Files created by utils/install_openrvdas.sh
django_gui/openrvdas_nginx.conf
django_gui/openrvdas_uwsgi.ini
django_gui/uwsgi_params

# Files copied from their respective .dist sources
# by utils/install_openrvdas.sh
django_gui/settings.py
django_gui/settings.py-e
database/settings.py
database/settings.py-e
logger/settings.py
display/js/widgets/settings.js

# InfluxDB
database/influxdb/LICENSE
database/influxdb/README.md
database/influxdb/influx
database/influxdb/influxd
database/influxdb/settings.py
database/influxdb/settings.py-e

static/

# PyCharm
.idea/

# Visual Studio Code
.vscode

# virtualenv
venv/
.venv 


# SSH
*.pem
*.crt
*.key

#local
local/cruise_configs
local/logger_configs

# CORIOLIX
local/rcrv/settings.py
local/rcrv/config_template.yaml
local/rcrv/.coriolix_preferences

# OceanX
local/alucia

# Stony Brook
local/stonybrook

local/unols

local/usap/palmer

local/niwa

# local for Scripps Institution of Oceanography
#
# SIO is testing this software out and wants the ability to make rapid
# changes for a while.  Once stable, we can more define what we
# want to share with better granularity.
local/sio/

# local for STARC (USCGC Healy)
#
# STARC is testing this software out and wants the ability to make rapid
# changes for a while.  Once stable, we can more define what we
# want to share with better granularity.
local/starc/

# Created by build scripts
.install_influxdb_preferences
.install_openrvdas_preferences
.install_mysql_preferences
.install_waterwall_preferences
.install_*_preferences
# Symlink for legacy widget paths
widgets

# For optional doc server
mkdocs.yml

# Contrib logger creation tool
contrib/utils/JSON_YAML_Creator/node_modules
contrib/utils/JSON_YAML_Creator/package-lock.json
contrib/utils/JSON_YAML_Creator/yarn.lock

# For sqlite_gui
sqlite_gui
.install_sqlite_gui_preferences
server/openrvdas.sql

# tmp
tmp

# continuous-integration & linters
gitlab-ci.yml
pyproject.toml
*.egg-info
.tox*
*coverage*
pytest_report.xml

# grafana datasource
contrib/niwa/grafana/cache-datasource/node_modules
contrib/niwa/grafana/cache-datasource/dist