.DS_Store
.DS_Store?
#.DS_Store#

pylintrc

__pycache__
*.pyc

*~
*.bak

db.sqlite3
django_gui/migrations

django_gui/settings.py
database/settings.py
hapi/settings.py
widgets/static/js/widgets/settings.js
static/

# PyCharm
.idea/
