:root {
    --horizontal-spacing: 0.3rem;
    --double-h-spacing: calc(2 * var(--horizontal-spacing));
    --large-h-spacing: calc(12 * var(--horizontal-spacing));
    --vertical-spacing: 0.1rem;
    --double-v-spacing: calc(2 * var(--vertical-spacing));
    --large-v-spacing: calc(12 * var(--vertical-spacing));
    
    --table-spacing: 0.3rem;
    --row-height: 3rem;

    --border-radius: 0.15rem;
    --border-width: 0.15rem;

    --drop-shadow:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
    --lightest-grey: #f1f1f1;
    --lighter-grey: #ddd;
    --light-grey: #ccc;
    --grey: #aaa;

    --green: #0ECD6E;
    --yellow: #fada0c;
    --orange: #F69E55;
    --red: #99001C;

    --white: #fff;
    --black: #000;

    --page-background: var(--lightest-grey);
    --page-background-shadow: var(--lightest-grey);
    --text-color: var(--black);
    --card-color: var(--white);

    --primary-color: var(--grey);
    --highlight-color: var(--light-grey);
    --lowlight-color: var(--black);

    --separator-color: var(--lighter-grey);

    --unknown-color: var(--lighter-grey);
    --inactive-color: var(--light-grey);
    --success-color: var(--green);
    --warning-color: var(--yellow);
    --error-color: var(--orange);
    --critical-color: var(--red);
}

* {
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    background-color: var(--page-background);
    color: var(--text-color);
    margin: 0;
    padding: var(--double-h-spacing) var(--double-h-spacing) 0 var(--double-h-spacing);
}

h1 {
    margin: 0 0 var(--large-v-spacing) 0;
    padding: var(--vertical-spacing) var(--horizontal-spacing);
    font-size: 1.5rem;
    background-color: var(--highlight-color);
    border-bottom: calc(2 * var(--border-width)) solid var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--lowlight-color);
}

h1:first-child, title + h1 {
    margin-top: 0;
}

h2 {
    font-size: 1.1rem;
}

button,
input {
    text-align: center;
    display: inline-block;
}

button,
select,
option,
input,
form {
    font: inherit;
}

/*  buttons  */

button {
    background-color: var(--unknown-color);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: var(--black);
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: var(--double-v-spacing) var(--double-h-spacing);
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

button:focus {
    box-shadow: 0 0 0 4px var(--page-background-shadow);
}

button:hover {
    box-shadow: inset 10px 10px 300px 200px rgba(255, 255, 255, 0.2);
}

button:active {
    box-shadow: inset 10px 10px 300px 200px rgba(0, 0, 0, 0.2);
}

/*    */

hr {
    border-color: transparent;
}


table, td, th {
    border-collapse: collapse;
}

td,
th {
    border: 0;
    text-align: left;
    padding: var(--table-spacing);
}

th:first-child, 
td:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

th:last-child,
td:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

tr:last-child td {
    border-bottom: 0;
}

td {
    white-space: nowrap;
    border-bottom: var(--border-width) solid var(--separator-color);
    min-width: 50px;
}

th {
    background-color: var(--highlight-color);
    color: var(--lowlight-color);
    text-transform: capitalize;
}

.flex {
    display: inline-flex;
}

.unknown {
    background-color: var(--unknown-color);
}

.inactive {
    background-color: var(--inactive-color);
}

.success {
    background-color: var(--success-color);
}

.warning {
    background-color: var(--warning-color);
}

.error {
    background-color: var(--error-color);
}

.critical {
    background-color: var(--critical-color);
    color: var(--white) !important;
}

/*  log lines */

.log-window, .stderr_window {
    background-color: var(--page-background-shadow);
    border-radius: var(--border-radius);
    height: var(--row-height);
    padding: var(--vertical-spacing) var(--horizontal-spacing) 0 var(--horizontal-spacing);
    overflow-y: auto;
    white-space: wrap;
    font-size: 0.9rem;
}

/* specific elements */

#stats_row {
    width: 100%;
    box-shadow: var(--drop-shadow);
    padding: var(--double-v-spacing) var(--horizontal-spacing);
    border-radius: var(--border-radius);
    background-color: var(--card-color);
}

.definition-file, .user-info {
    margin-left: var(--large-h-spacing);
    padding: var(--double-v-spacing) var(--double-h-spacing);
    border-radius: var(--border-radius);
}

.user-info {
    flex-grow: 1;
    text-align: end;
}

#filename {
    display: inline-block;
    padding: var(--vertical-spacing) var(--horizontal-spacing);
    background-color: var(--highlight-color);
    color: var(--lowlight-color);
    font-weight: bold;
}

.definition-file table {
    margin-top: var(--double-v-spacing);
}

.definition-file td {
    padding-left: 0;
}

.config-button {
    color: var(--text-color);
}

.time_label {
    border: 0;
    background-color: var(--highlight-color);
    color: var(--lowlight-color);
    text-align: right;
    text-transform: capitalize;
    font-weight: bold;
}

.time_str {
    background-color: var(--separator-color);
    border: 0;
    text-align: left;
    font-size: 1rem;
}

.time_str > span {
    display: inline-block;
    padding: var(--vertical-spacing) var(--horizontal-spacing);
}

.time_str > span.warning {
    font-weight: bold;
}

tr:nth-child(n+2) > .time_label {
    border-top: var(--border-width) solid var(--separator-color);
}

tr:nth-child(n+2) > .time_str {
    border-top: var(--border-width) solid var(--page-background);
}

#logger_table {
    width: 100%;
    box-shadow: var(--drop-shadow);
    background-color: var(--card-color);
    border-radius: var(--border-radius);
}

#logger_table_body th, #logger_table_body td {
    border-radius: 0;
}

#logger_table_body tr:first-child th {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

#logger_table_body tr:not([id]) td {
    border-bottom: 0;
}


#logger_table_body th:first-child, #logger_table_body td:first-child {
    min-width: 4rem;
}

.button_td {
    height: var(--row-height);
    font-weight: bold;
}

/*  edit_config page  */

h1 + .log-window {
    margin-bottom: var(--large-v-spacing);
}

/*  Media queries  */

@media (min-width: 992px) {
    body {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media (min-width: 1200px) {
    body {
            padding-left: 10vw;
            padding-right: 10vw;
        }
}