<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/django_gui/global_style.css' %}">
    <title>{% block title %}OpenRVDAS Cruise Management{% endblock %}</title>
  </head>
  <body>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  <hr>
    <p style="font-size:70%">
      <a href="https://github.com/oceandatatools/openrvdas/blob/master/README.md">
        OpenRVDAS (c)2018 David Pablo Cohn</a></p>
  </body>
</html>
