<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/django_gui/style.css">
    <title>{% block title %}OpenRVDAS Cruise Management{% endblock %}</title>
  </head>
  <body>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <footer>
      <a href="https://github.com/oceandatatools/openrvdas/blob/master/README.md" target="_blank">
        OpenRVDAS &copy;<script>document.write(new Date().getFullYear())</script> David Pablo Cohn
      </a>
    </footer>
  </body>
</html>
