{% extends 'django_gui/base.html' %}

{% load static %}

{% block content %}

<title>Choose Cruise Definition File</title>
<h1>Choose Cruise Definition File</h1>

{% if target_file %}
  {# ############################################################ #}
  {# If we have a target file, ask them to confirm loading it.    #}
  <form id="file_submission_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Load definition file "{{ target_file }}"?</h3>
    <button
      id="load-target"
      class="logger_button btn-primary"
      style="margin-top: 0.5rem;"
      type="submit"
      name="target_file"
      value="{{ target_file }}"
    >
      Load
    </button>
    <button
      class="logger_button btn-secondary"
      style="margin-top: 0.5rem;"
      onclick="window.close();"
    >
      Cancel
    </button>
  </form>
  
{% else %}
  {# ############################################################ #}
  {# Directory listing here...                                    #}
  <form id="directory_listing_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {# ############################################################ #}
    {# Here, we're going to display the file listing and any errors #}
    {% if load_errors %}
      {% for error in load_errors %}
        <div class='text-danger'>{{ error }}</div>
      {% endfor %}
    {% endif %}

    <input type=hidden name="dir_name" value="{{ dir_name }}">
    <h3>
      {% if dir_name %}
        {{ dir_name }}
      {% else %}
        Select definition from directory
      {% endif %}
    </h3>
    <div id="directory_listing">
      {% for selection, path in listing.items %}
        <button
          id="load-target"
          class="btn-ghost text-primary"
          type="submit"
          name="select_file"
          value="{{ path }}"
        >
          {{ selection }}
        </button><br/>
      {% endfor %}
    </div>
    <button class="logger_button btn-secondary" onclick="window.close();">Close</button>
  </form>
{% endif %}

{% endblock %}
