{% extends 'django_gui/base.html' %}

{% load static %}

{% block content %}
<title>Edit {{ logger_id }} configuration</title>
<h1>Edit {{ logger_id }} configuration</h1>
<hr>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  Select config: <select name="select_config" id="select_config"
          onchange="update_select()">
    </option>
    {% for config_option in config_options %}
    <option value="{{ config_option }}"
    
       {% if config_option == current_config %}
       selected
       {% endif %}>
      {{ config_option }}
      {% if config_option == default_config %}
        [mode default]
      {% endif %}
      </option>
    {% endfor %}
  </select>
  <hr>
  <table>
    <tr>
      <td>
        <button type="submit">Save</button>
      </td>
      <td>
        <button type="submit" onclick="window.close();">Cancel</button>
      </td>
    </tr>
  </table>
</form>

<script>

// Highlight if the selection isn't the currently saved one.
function update_select() {
  var sel = document.getElementById("select_config");
  var selected_value = sel.options[sel.selectedIndex].value;
  if (selected_value == "{{ current_config }}") {
    sel.style.backgroundColor="white";
  } else {
    sel.style.backgroundColor="yellow";
  }
}
</script>
{% endblock %}
