{% extends 'django_gui/base.html' %}

{% load static %}

{% block content %}

<script type="text/javascript">
  // Need to define for following JS scripts. For now, count on the
  // relevant variables being set by Django.
  var WEBSOCKET_SERVER = "{{ websocket_server }}";
  {% if user.is_authenticated %}
    var USER_AUTHENTICATED = true;
  {% else %}
    var USER_AUTHENTICATED = false;
  {% endif %}

  var LOGGER_ID = "{{ logger_id }}";

  // We're going to subscribe to stderr updates for this logger from the
  // CDS and put them in a div. Code for doing that is in fetch_cds_logs.js
  // and websocket.js.
  var CDS_DATA_ID = 'stderr:logger:' + LOGGER_ID;
  var CDS_TARGET_DIV = LOGGER_ID + '_stderr';
</script>

<script src="../static/django_gui/fetch_cds_logs.js"></script>
<script src="../static/django_gui/websocket.js"></script>

<title>{{ logger_id }} configuration</title>
<h1>{{ logger_id }} stderr</h1>
<div style="height:150px;background-color:white;min-width:0px;padding:0px;overflow-y:auto" id="{{ logger_id }}_stderr">
</div>

<h1>configuration</h1>
<hr>
{% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  Select config: <select name="select_config" id="select_config"
          onchange="update_select()">
    </option>
    {% for config_option in config_options %}
    <option value="{{ config_option }}"
    
       {% if config_option == current_config %}
       selected
       {% endif %}>
      {{ config_option }}
      {% if config_option == default_config %}
        [mode default]
      {% endif %}
      </option>
    {% endfor %}
    </select>
    <button name="update" type="submit">Update</button>
    <button name="close" type="submit">Close</button>
  <hr>
</form>
{% else %}
Current config: {{ current_config }} <br>
  (<a href="../login"><b>Log in</b></a> to change.)
{% endif %}
Config definition: <div id="config_json"></div>

<link rel="stylesheet" href="../static/django_gui/json-viewer/json-viewer.css">
<script src="../static/django_gui/json-viewer/json-viewer.js"></script>

<script>

// Create the JSON viewer and attach to the div
var jsonViewer = new JSONViewer();
document.querySelector("#config_json").appendChild(jsonViewer.getContainer());

// Parse map from config_name->config_json and show JSON of current config
var config_map = JSON.parse(clean_json("{{ config_map }}"));
set_config_json("{{ current_config }}");

// Remove all those ugly escapes
function clean_json(source) {
  return source.replace(/&quot;/g,'"').replace(/&gt;/g,'>'); //"
}

// Set the "config" section to the JSON for the specified config.
function set_config_json(config_name) {
  config_name = clean_json(config_name);
  config_json = config_map[config_name];
  jsonViewer.showJSON(config_json, null, 1);
}

// Highlight if the selection isn't the currently saved one.
function update_select() {
  var sel = document.getElementById("select_config");
  var selected_value = sel.options[sel.selectedIndex].value;
  var current_config = clean_json("{{ current_config }}");
  if (selected_value == current_config) {
    sel.style.backgroundColor="white";
  } else {
    sel.style.backgroundColor="yellow";
  }
  set_config_json(selected_value);
}
</script>
{% endblock %}
