{% extends 'django_gui/base.html' %}

{% load static %}

{% block content %}

<script type="text/javascript">
  // Need to define for following JS scripts. For now, count on the
  // relevant variables being set by Django.
  var WEBSOCKET_SERVER = "{{ websocket_server }}";
</script>
<script src="/static/django_gui/stderr_log_utils.js"></script>
<script src="/static/django_gui/index.html.js"></script>
<script src="/static/django_gui/websocket.js"></script>

<title>Cruise Management</title>
<h1><span id='cruise_id'></span> Cruise Management</h1>

<div id='empty_loggers'
  {% if loggers %}
    style='display:none;'
  {% else %}
    style='display:block;'
  {% endif %}
>
<h3>No cruise definition loaded</h3>
</div>
<div id='status_and_loggers'
  {% if loggers %}
    style='display:block;'
  {% else %}
    style='display:none;'
  {% endif %}
>
  {# ######################################################################## #}
  {# Show server status up top.                                               #}
  <table>
    <tr>
      <td style='background-color:gray;border-style:solid;border-width:1px;border-color:gray;text-align:center;font-size:small;font-weight:bold'>
        now
      </td>
      <td style='background-color:gray;border-style:solid;border-width:1px;border-color:gray;text-align:center;font-size:small;font-weight:bold;'>
        server
      </td>
      <td style='background-color:gray;border-style:solid;border-width:1px;border-color:gray;text-align:center;font-size:small;font-weight:bold;'>
        status
      </td>
    </tr>
    <tr>
      <td style='background-color:white;border-style:solid;border-width:1px;border-color:gray;text-align:center;font-size:small;'>
        <span id='time_td'></span>
      </td>
      <td style='background-color:white;border-style:solid;border-width:1px;border-color:gray;text-align:center;font-size:small;'>
        <span id='server_time_td'>--no updates--</span>
      </td>
      <td style='background-color:white;border-style:solid;border-width:1px;border-color:gray;text-align:center;font-size:small;'>
        <span id='status_time_td'>--no updates--</span>
      </td>
    </tr>
  </table>

  {# ######################################################################## #}
  {# Draw the logger manager and current mode.                                #}
  <hr>
  <div id='lm_loaded'>
    <table id='lm_table'>
      <tbody id='lm_table_body'>
        <tr><th>mode</th><th colspan=3>status</th></tr>
        <tr id="logger_manager_row">
          <td id="logger_manager_mode_td" style="height:30px;width:75px;">
            <button id="logger_manager_mode_button" type="submit"
                    onclick="open_change_mode(event);"
                    >
              <span id="lm_mode_button_label">{{ active_mode }}</span>
            </button>
          </td>
          <td><div style="height:30px;width:450px;background-color:white;padding:0px;overflow-y:auto;font-size:x-small"
                   id="logger_manager_stderr"></div></td>
        </tr>
      </tbody>
    </table>
  </div>

  {# ######################################################################## #}
  {# Draw the loggers and their current configurations.                       #}
  <hr>
  <div id='config_loaded'>
    <table id='logger_table'>
      <tbody id='logger_table_body'>
        <tr><th>logger</th><th colspan=3>configuration</th></tr>
        {% for logger_name, logger_config in loggers.items %}
        <tr id="{{ logger_name }}_row">
          <td id="{{ logger_name }}_config_td" style="height:30px;width:75px;");
            <button id="{{ logger_name }}_config_button" type="submit"
                    onclick="open_edit_config(event, '{{logger_name }}');"
                    {% if not user.is_authenticated %}
                    disabled
                    {% endif %}
                    >
              {{ logger_config.active }}
            </button>
          </td>
          <td><div style="height:30px;width:450px;background-color:white;padding:0px;overflow-y:auto" id="{{ logger_name }}_stderr"></div></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{# ######################################################################## #}
{# Load new definition                                                      #}
{% if user.is_authenticated %}
<hr>
<table>
  <tr>
    <td>
      Current definition file:
      <span id='filename'>{{ filename }}</span>
    </td>
  </tr>
  <tr>
    <td>
      <span id='reload_span' style='display:none;'>
        <form method='post' style='display:inline;'
              enctype='multipart/form-data'>
          {% csrf_token %}
          <button name='reload_button' id='reload_button' type='submit'
                   style='background-color:yellow'>
          Definition is stale. Reload definition
          </button>
        </form>
      </span>
      <button id='load_definition_button' type='submit'
              onclick='open_load_definition(event);'>
        Load new definition
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <button id="display_window" type="submit"
              onclick="window.open('display/', '_blank', 'location=yes,scrollbars=yes,status=yes');">
        Show display pages
      </button>
    </td>
  </tr>
</table>
{% endif %}
<hr>
<p>
  {% if user.is_authenticated %}
  Logged in as <b>{{ user }}.</b>
  <a href='/accounts/logout'>Log out</a>
  {% else %}
  Current definition file: <span id='filename'>{{ filename }}</span><br>
  <a href='/accounts/login'><b>Log in</b></a> to manage servers, configurations or mode
  {% endif %}
</p>

{% endblock content %}
