{% extends 'django_gui/base.html' %}

{% block content %}

<script type="text/javascript">
  // Need to define for following JS scripts. For now, count on the
  // relevant variables being set by Django.
  var WEBSOCKET_SERVER = "{{ websocket_server }}";
  {% if user.is_authenticated %}
    var USER_AUTHENTICATED = true;
  {% else %}
    var USER_AUTHENTICATED = false;
  {% endif %}
</script>
<script src="/static/django_gui/index.html.js"></script>
<script src="/static/django_gui/websocket.js"></script>

<title>Cruise Management</title>
<h1><span id='cruise_id'></span> Cruise Management</h1>

{# ######################################################################## #}
{# Show server status up top.                                               #}
<table style='background-color:white'>
  <tr id='time_row'>
    <td colspan=4>Last update:
      <span id='time_td'>no connection - is status server running?</span>
    </td>
  </tr>
  <tr id='time_warning_row' style='display:none;'>
    <td colspan=4>
      Now: <span id='time_warning_td'></span>
    </td>
  </tr>
  {% comment %}
  <tr id='server_row'>
    <td>
      <a href='#' onclick='message_window();return false;'>
        server log</a>
    </td>
  </tr>
  {% endcomment %}
</table>
    
{# ######################################################################## #}
{# Draw the loggers and their current configurations.                       #}
<hr>
<div id='config_loaded'>
  <table id='logger_table'>
    <tbody id='logger_table_body'>
    <tr><th>logger</th><th colspan=3>configuration</th></tr>
    {% for logger_name, logger_config in loggers.items %}
    <tr id="{{ logger_name }}_row">
      <td id="{{ logger_name }}_td">{{ logger_name }}</td>
      <td id="{{ logger_name }}_config_td">
        <button id="{{ logger_name }}_config_button" type="submit"
                onclick="window.open('../edit_config/{{logger_name }}', '_blank', 'location=yes,height=180,width=520,scrollbars=yes,status=yes');"
                {% if not user.is_authenticated %}
                  disabled
                {% endif %}
                >
          {{ logger_config.active }}
        </button>
      </td>
      <td><div style="height:30px;background-color:white;min-width:0px;padding:0px;overflow-y:auto" id="{{ logger_name }}_stderr"></div></td>
    </tr>
    {% endfor %}

    </tbody>
  </table>      

{# ######################################################################## #}
{# If user is authenticated, allow to switch modes. Else just show mode     #}
  <hr>
  <form method='post' enctype='multipart/form-data'>
  {% csrf_token %}
  <p>Mode:
    <select name='select_mode' id='select_mode'
            onchange='highlight_select_mode()'
            {% if not user.is_authenticated %} disabled {% endif %} >
      
      {% for mode_option in modes %}
      <option id="mode_{{ mode_option }}"
         {% if mode_option == active_mode %}
         selected
         {% endif %}>
          {{ mode_option }}
      </option> 
      {% endfor %}

    </select>
    {% if user.is_authenticated %}
      <button type='submit'>Change mode</button></p>
    {% endif %}
  </form>
</div>

{# ######################################################################## #}
{# Load configuration                                                       #}
{% if user.is_authenticated %}
<hr>
<div id='load_div_button'>
  <button type='submit' onclick='toggle_load_config_div()'>
  Load configuration file
  </button>
</div>
<div id='load_config_div' style='display:none'>
  <form method='post' enctype='multipart/form-data'>
    {% csrf_token %}
    <table>
      <tr>
        <td>
          <input id='config_file' type='file' name='config_file' size='20'
                 onchange='show_load_button(this.files)'>
        </td>
        <td>
          <div id='load_button_div'  style='display:none'>
            <button type='submit' id='load_config_button'
                    name='load_config'>
              Load
            </button>
          </div>
        </td>
        <td>
          <button onclick='toggle_load_config_div();' name='cancel'>
            Cancel
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>

{% endif %}
<hr>
<p>
  {% if user.is_authenticated %}
  Logged in as <b>{{ user }}.</b>
  <a href='../logout'>Log out</a>
  {% else %}
  <a href='../login'><b>Log in</b></a> to manage servers, configurations or mode
  {% endif %}
</p>

{% endblock content %}
