{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">OpenRVDAS Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}

  <style>
    .login-error {
	color: red;
	margin-top: 1em;
    }
    .login-form {
	margin-top: 1em;
    	display: flex;
        align-items: center;
        justify-content: center;
	flex-direction: column;
    }
    .login-title {
	font-size: 170%;
	margin: 2em 0em 1.5em;
    }
    .login-button{
	margin-top: 1em;
    }
  </style>

  <head>
    <title>Login</title>
  </head>

  <form method='post' class='login-form'>
    <h2 class='login-title'>Login</h2>
    {% csrf_token %}
    <label for='username'>Username</label>
    <input type='text' name='username' id='username' /> <br>

    <label for='password'>Password</label>
    <input type='password' name='password' id='password' /> <br>

    {% if  empty_username %}
      <div class='login-error'>{{ empty_username }}</div>
    {% elif empty_password %}
      <div class='login-error'>{{ empty_password }}</div>
    {% elif invalid %}
      <div class='login-error'>{{ invalid }}</div>
    {% endif %}

    <button type='submit' class='login-button'>Login</button>
  </form>
{% endblock %}
