{% extends 'django_gui/base.html' %}
{% load static %}

{% block content %}
<h1>OpenRVDAS</h1>
<div id="content">
  <div class="login-container">
    <h2>Please Sign In</h2>
    <form method="post">
      {% csrf_token %}
      {% if form.errors %}
        <div class="text-danger">Invalid username or password</div>
      {% endif %}
      <input type="text" name="username" id="id_username" placeholder="username"
        value="{{ form.username.value|default_if_none:'' }}" required autofocus>

      <input type="password" name="password" id="id_password" placeholder="password" required>
      <input type="hidden" name="next" value="/">

      <button class="logger_button btn-primary" style="width: 100%;" type="submit">Login</button>
      <a class="btn btn-secondary" style="width: 100%; margin-top: 0.5rem;" href="/">Back</a>
    </form>
  </div>
</div>
{% endblock %}

