{% extends 'django_gui/base.html' %}

{% block content %}

<script type='text/javascript'>
  // Need to define for following JS scripts. For now, count on the
  // relevant variables being set by Django.
  var WEBSOCKET_SERVER = '{{ websocket_server }}';
  var FIELD_LIST = ['stderr:logger_manager'];

  // These two variables will be needed by server_messages.html.js
  var LOG_LEVEL = {{ log_level }};
  
  // Convenience dicts to translate logging levels to names and colors.
  LOG_LEVELS = {
    0:  'ALL',
    10: 'DEBUG',
    20: 'INFO',
    30: 'WARNING',
    40: 'ERROR',
    50: 'CRITICAL'
  }

  LOG_LEVEL_COLORS = {
    0:  '',
    10: '',
    20: '',
    30: '#FFFF99',
    40: '#FF9999',
    50: '#FF6666'
  }
</script>
<script src='/static/django_gui/server_messages.html.js'></script>
<script src='/static/django_gui/websocket.js'></script>

<head>
  <title>Server messages</title>
  {# <meta http-equiv='refresh' content='3'> #}

  <style>
    .scrollTable tbody{
    display:block;
    float:left;
    overflow:auto;
    height:400px;
    width:100%;
    }
    .scrollTable thead {}
    .scrollTable th, td {}
  </style>
</head>

<h1>Server messages</h1>

{# ######################################################################## #}
<table>
  <tr id='log_level_row'>
  </tr>
</table>
<div class=scrollTable id='server_message_div'>
<table>
  <thead>
  </thead>
  <tbody id='server_messages'>
  </tbody>
</table>
</div>

<script type='text/javascript'>
  var log_level_row = document.getElementById('log_level_row');
  for (var level in LOG_LEVELS) {
    var td = document.createElement('td');
    var button = document.createElement('button');
    button.setAttribute('onclick', 
                        'window.location=\'/server_messages/' + level + '\'');
    button.setAttribute('type', 'submit');
    if (level == LOG_LEVEL) {
      button.setAttribute('style', 'background-color:gray');
    }
    button.innerHTML = LOG_LEVELS[level];
    td.appendChild(button);
    log_level_row.appendChild(td);
  }

//resize_table(); // Defined in server_messages.html.js

</script>
{% endblock content %}
