{% extends 'django_gui/base.html' %}

{% block content %}

<head>
  <title>{{ server }} messages</title>
  {# <meta http-equiv="refresh" content="3"> #}
</head>

<h1>{{ server }} messages</h1>

{# ######################################################################## #}
<textarea id="server_messages" rows=18 cols=80>
</textarea>

{# ######################################################################## #}
{# Start of Javascript                                                      #}
<script type="text/javascript">

  // We're after messages statuses, so append '/messages' path followed
  // by name of server we want messages from.
  var websocket_server = "ws://{{ websocket_server }}/messages/{{ server }}";

  //////////////////////////////////////////////////////////////
  // WebSocket code - need to pull this out into a separate file
  // so we're not duplicating it in each of these files!
  if (! "WebSocket" in window) {
    alert("Warning: websockets not supported by your Browser!");
  }

  // Set timer to retry websocket connection if it closes. Interval is
  // turned off in ws.onopen() if/when we succeed.
  var retry_interval = 3000;
  var retry_websocket_connection;
  var ws;
  
  // Try connecting right off the bat
  connect_websocket();

  function connect_websocket() {
    console.log("Trying to connect to websocket at " + websocket_server);
    ws = new WebSocket(websocket_server);
    
    ws.onopen = function() {
      // We've succeeded in opening - don't try anymore
      console.log("Connected - clearing retry interval");
      clearTimeout(retry_websocket_connection);
    };

    ws.onclose = function() { 
      // websocket is closed.
      console.log("Connection is closed...");

      // Set page to show that we're not connected
      on_disconnect();

      // Set up an alarm to sleep, then try re-opening websocket
      console.log("Setting timer to reconnect");
      retry_websocket_connection = setTimeout(connect_websocket,retry_interval);
    };

    ws.onmessage = function (received_message) { 
      console.log("Got status update message: " + received_message.data);
      process_message(JSON.parse(received_message.data));
    };
  };
  
  window.onbeforeunload = function(event) {
    console.log("Closing websocket");
    ws.close();
  };

  function send(message) {
    console.log("Sending message '" + message + "'");
    ws.send(message);
    console.log("Sent!");
  };

  //////////////////////////////////////////////////////
  // Start of server.html-specific Javascript

  function on_disconnect() {
    console.log("Setting buttons to 'disconnected' state");
    var server_messages = document.getElementById("server_messages");
    server_messages.style.backgroundColor = "yellow";
  }

  function process_message(message) {
    // Fill in the values we've received
    var server_messages = document.getElementById("server_messages");
    server_messages.style.backgroundColor = "white";

    // Initially just add to text area. Eventually we need to figure out
    // an efficient way to trim old messages.
    server_messages.innerHTML = server_messages.innerHTML + message.join("\n");
    server_messages.scrollTop = server_messages.scrollHeight;
  }

</script>

{% endblock content %}
