HAPI_SERVER_HOST = '0.0.0.0'
HAPI_SERVER_API_PORT = '8000'
HAPI_SERVER_WS_PORT = '8001'
HAPI_SERVER_USE_SSL = False
HAPI_SERVER_PATH = '/openrvdas_api'

HAPI_AUTH_TOKEN = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjU5ODFmMTY3MjEyYjM0OGFlZDdmYTlmNSIsInNjb3BlIjpbImFkbWluIiwibG9nZ2VyX21hbmFnZXIiLCJsb2dnZXJfd2F0Y2hlciJdLCJpYXQiOjE1NDA2NTkzMTJ9.HfuKZmi8a31tutQ7W4bM_zdsTb1pYMxnnwPwZfHMJO4"

HAPI_HEADERS = {
  "authorization": HAPI_AUTH_TOKEN
}
