{% extends 'gui/base.html' %}

{% block content %}

{% if cruise %}
  <title>{{ cruise.id }}</title>
  <h1>{{ cruise.id }} Cruise Management</h1>
  {# ######################################################################## #}
  {# Draw the loggers and their current configurations.                       #}
  <table>
    <tr id="time_row">
      <td>Last update:</td><td id="time_td">no connection - is server running?</td>
    <tr id="time_warning_row" style="display:none;">
      <td>Now:</td><td id="time_warning_td"</td>
    </tr>
  </table>
  <hr>
  <table>
    <tr><th>logger</th><th colspan=3>configuration</th></tr>
    {% for logger, config in loggers.items %}
    <tr id="{{ logger }}_row">
      <td id="{{ logger }}_td">{{ logger }}</td>
      <td id="{{ logger }}_config_td">
        {% if user.is_authenticated %}
          <button id="{{ logger }}_config_button" type="submit"
            onclick="window.open('edit_config/{{ logger }}', '_blank', 'location=yes,height=180,width=520,scrollbars=yes,status=yes');">
          </button>
        {% else %}
          <span id="{{ logger }}_config_button">
          </span>
        {% endif %}
      </td>
      <td id="{{ logger }}_enabled_td"></td>
      <td style="min-width:0px;padding:0px;" id="{{ logger }}_error"></td>
    </tr>
    {% endfor %}
  </table>      

  {# ######################################################################## #}
  {# If user is authenticated, allow to switch modes. Else just show mode     #}
  <hr>
  {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Mode:
    <select name="select_mode" id="select_mode" onchange="highlight_select()">
      {% for mode in modes %}
      <option id="mode_{{ mode }}"
         {% if mode == current_mode %}
         selected
         {% endif %}>
          {{ mode.name }}
      </option> 
      {% endfor %}
    </select>  
    <button type="submit">Change mode</button></p>
    </form>
  {% else %}
    <p>Mode: <b><span id="mode_name">{{ cruise.current_mode }}</span></b></p>
  {% endif %}
{% else %}
  <title>No configuration loaded</title>
  <h1>No configuration loaded</h1>
{% endif %}


{# ######################################################################## #}
{# Status bar                                                               #}
<table><tr>
    {% if cruise %}
  <td style="border: 0px;">
    Current configuration: {{ cruise.config_filename }}</td>
{% endif %}
{% if user.is_authenticated %}
<td style="border: 0px;">
  <form>
    {% csrf_token %}
    <button type="submit"
          onclick="window.open('load_config', '_blank', 'location=yes,height=140,width=450,scrollbars=yes,status=yes');">
      Load configuration file
    </button>
  </form></td>
  {% endif %}
</tr></table>

{# ######################################################################## #}
{# Display any errorst                                                      #}
{% if errors %}
  <p>Error parsing config file: {{ config_error }}</p>
{% endif %}
  <hr>

  <p>
  {% if user.is_authenticated %}
  Logged in as <b>{{ user }}.</b>
  <a href="../logout">Log out</a>
  {% else %}
  <a href="../login"><b>Log in</b></a> to edit configurations or mode
  {% endif %}
  </p>
  <hr>
<p style="font-size:70%">
  <a href="https://github.com/davidpablocohn/openrvdas/blob/master/README.md">
    OpenRVDAS (c)2018 David Pablo Cohn</a></p>

{# ######################################################################## #}
{# Start of Javascript                                                      #}
<script type="text/javascript">
  if (! "WebSocket" in window) {
    alert("Warning: websockets not supported by your Browser!");
  }
  var ws;

  // Set timer to retry websocket connection if it closes. Interval is
  // turned off in ws.onopen() if/when we succeed.
  var retry_interval = 3000;
  var retry_websocket_connection;
  
  // Try connecting right off the bat
  connect_websocket();

  ///////////////////////////////
  function connect_websocket() {
    console.log("Trying to reconnect to websocket_status_server");
    ws = new WebSocket("ws://{{ websocket_status_server }}");
    
    ws.onopen = function() {
      // We've succeeded in opening - don't try anymore
      console.log("Connected - clearing retry interval");
      clearTimeout(retry_websocket_connection);

      // Web Socket is connected, send data using send()
      //ws.send("Message to send");
      //console.log("Message is sent...");
    };

    ws.onclose = function() { 
      // websocket is closed.
      console.log("Connection is closed...");

      // Set up an alarm to sleep, then try re-opening websocket
      console.log("Setting timer to reconnect");
      retry_websocket_connection = setTimeout(connect_websocket,
                                              retry_interval);
    };

    ws.onmessage = function (received_message) { 
      process_message(JSON.parse(received_message.data));
    };
  };
  
  window.onbeforeunload = function(event) {
    console.log("Closing websocket");
    ws.close();
  };

  function send(message) {
    console.log("Sending message '" + message + "'");
    ws.send(message);
    console.log("Sent!");
  };

  // If no update in 5 seconds, change background color to red
  var TIMEOUT_INTERVAL = 5000;
  function flag_timeout() {
    document.getElementById("time_row").style.backgroundColor = "orangered";
    document.getElementById("time_warning_td").innerHTML = Date();
    document.getElementById("time_warning_row").style.display = "";
  }
  var timeout_timer = setInterval(flag_timeout, TIMEOUT_INTERVAL);

  function process_message(message) {
    // Fill in the values we've received

    // Update time string and reset timeout timer
    document.getElementById("time_td").innerHTML = Date();
    document.getElementById("time_warning_row").style.display = "none";
    document.getElementById("time_row").style.backgroundColor = "white";

    //document.getElementById("time_str").innerHTML = message.time_str;

    //time_str.style.backgroundColor = "white";

    clearInterval(timeout_timer);
    timeout_timer = setInterval(flag_timeout, TIMEOUT_INTERVAL);

    var status = message.status;
    if (status) {
      // Update mode - "select_mode" only defined if user is authenticated;
      // otherwise we should have "mode_name"
      var select_mode = document.getElementById("select_mode");
      if (select_mode) {
        select_mode.value = status.current_mode;
      } else {
        document.getElementById("mode_name").innerHTML = status.current_mode;
      }
      for (var logger_name in status.loggers) {
        //console.log('processing status for ' + logger_name);
        var values = status.loggers[logger_name];
        var desired = values['desired_config'] || "";
        var current = values['current_config'] || "";
        var mode_match = values['mode_match'] || "";
        var enabled = values['current_enabled'] || "";
        var error = values['current_error'] || "";

        var row = document.getElementById(logger_name + "_row")
        var config_td = document.getElementById(logger_name + "_config_td");
        var config_button = document.getElementById(logger_name + "_config_button");
        var enabled_td = document.getElementById(logger_name + "_enabled_td");
        var error_td = document.getElementById(logger_name + "_error");
  
        if (!row) { console.log("Couldn't find row for " + logger_name) }

        if (current) {
          config_button.innerHTML = current;
        } else {
          config_button.innerHTML = "--None--";
        }

        if (enabled) {
          enabled_td.innerHTML = "";
        } else {
          enabled_td.innerHTML = "disabled";
        }

        if (!current && !desired) {
          row.style.backgroundColor = "lightgray";
        } else if (current == desired) {
          if (enabled) {
            row.style.backgroundColor = "lightgreen";         
          } else {
            row.style.backgroundColor = "lightgray";
          }
        // If current config is not equal to desired
        } else if (error) {
          row.style.backgroundColor = "orangered";
        } else {
            row.style.backgroundColor = "yellow";  
        }

        // If the current_config doesn't match the default config
        // for the current mode, flag the config as different
        if (current && !mode_match) {
          config_td.style.backgroundColor = "yellow";
        } else {
          config_td.style.backgroundColor = row.style.backgroundColor;
        }

        // Finally, do we have an error reported for this logger?
        error_td.innerHTML = error;
        if (error) {
          row.style.backgroundColor = "orangered";
          config_td.style.backgroundColor = "orangered";
          error_td.style.backgroundColor = "orangered";
        } else {
          error_td.style.backgroundColor = row.style.backgroundColor;
        }
      }
    }
  };

  ///////////////////////////////
  // Highlight the color of the mode select option when it has
  // been changed, but before it's committed.
  function highlight_select(logger_name) {
    document.getElementById("select_mode").style.backgroundColor="yellow";
  }  

  ///////////////////////////////
  function edit_config(logger_name) {
    console.log('Edit request for ' + logger_name);
    //loggers = "{{ loggers }}";
    //console.log('Loggers: ' + loggers);
  }  
</script>

{% endblock content %}
