{% extends 'gui/base.html' %}

{% load static %}

{% block content %}

{# ######################################################################## #}
{# If user is authenticated, allow to load a new config.                    #}
{% if user.is_authenticated %}
<h1>Load new cruise configuration</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="config_file">
  <hr>
  <table>
    <tr>
      <td>
        <button type="submit"
                {# onclick="return confirm('Are you sure you want to replace the current configuration?')" #}>Load</button>
          
      </td>
      <td>
        <button type="submit" onclick="window.close();">Cancel</button>
      </td>
    </tr>
  </table>
</form>
{% endif %}

{% if errors %}
<hr>
<h2>Errors loading {{ filename }}:</h2>
<pre>
  {{ errors }}
</pre>
{% endif %}

{% endblock %}
