"""
Settings for InfluxDB operations.

THIS FILE MUST BE COPIED OVER TO database/influxdb/settings.py to be
operational.

See below for additional database-specific install requirements
"""
# flake8: noqa E502

################################################################################
# InfluxDB settings
INFLUXDB_URL = 'http://localhost:8086'
INFLUXDB_ORG = 'openrvdas'
INFLUXDB_BUCKET = 'openrvdas'
INFLUXDB_AUTH_TOKEN = 'DEFAULT_INFLUXDB_AUTH_TOKEN'
INFLUXDB_VERIFY_SSL = False
