"""
General Settings for logger readers, transforms and writers.

THIS FILE MUST BE COPIED OVER TO logger/settings.py to be
operational.

To set up InfluxDB/TICK stack integration, install, configure and start
InfluxDB server:

  Download/install(Linux):
  cd ~
  wget https://dl.influxdata.com/influxdb/releases/influxdb_2.0.0-beta.1_linux_amd64.tar.gz
  tar xvfz influxdb_2.0.0-beta.1_linux_amd64.tar.gz

  Start:
  cd ~/influxdb_2.0.0-beta.1_linux_amd64
  influxd --reporting-disabled

  Initialize:
  Goto http://localhost:9999
  - Setup a new user and organization (openrvdas).

  Get/set authorization token:
   - goto http://localhost:9999
   - login
   - click "Load your data"
   - click "Tokens"
   - click the desired user
   - highlight/copy or click "Copy to Clipboard"
   - paste token in between the quotes below next to INFLUXDB_AUTH_TOKEN

"""
INFLUXDB_URL = 'http://localhost:9999'
INFLUXDB_ORG = 'openrvdas'
INFLUXDB_AUTH_TOKEN = ''